<a href="https://colab.research.google.com/github/Manojgharge07/Assignments/blob/main/Percentage_Cutoff_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
df = pd.read_csv("/content/drive/MyDrive/Percentage_2 csv/Percentage_2.csv")

In [ ]:
df

   CustomerID          Brand        Date  Brand count
0           1         Adidas  01-01-2021            3
1           1           Polo  01-01-2021            1
2           2          Levis  02-01-2021            2
3           2  Tomyhilfigure  02-01-2021            1
4           2           Nike  03-01-2021            4
5           2           Puma  03-01-2021            4

In [ ]:
from datetime import date
from datetime import datetime

df['Date'] = pd.to_datetime(df.Date)
df

   CustomerID          Brand       Date  Brand count
0           1         Adidas 2021-01-01            3
1           1           Polo 2021-01-01            1
2           2          Levis 2021-02-01            2
3           2  Tomyhilfigure 2021-02-01            1
4           2           Nike 2021-03-01            4
5           2           Puma 2021-03-01            4

In [ ]:
df1= df.groupby(['CustomerID', 'Date']).agg(Max_brand_count=('Brand count', 'max'),Total_brand_count=('Brand count', 'sum')).reset_index()
df1

   CustomerID       Date  Max_brand_count  Total_brand_count
0           1 2021-01-01                3                  4
1           2 2021-02-01                2                  3
2           2 2021-03-01                4                  8

In [ ]:
data= df.groupby(['CustomerID', 'Date']).agg({"Brand count":['max','sum']},axis=1,inplace=True).reset_index()
data

  CustomerID       Date Brand count
                                max sum
0          1 2021-01-01           3   4
1          2 2021-02-01           2   3
2          2 2021-03-01           4   8

In [ ]:
df1['Percentage cutoff of Brand']= df1['Max_brand_count']/df1['Total_brand_count']*100
df1

,CustomerID,Date,Max_brand_count,Total_brand_count,Percentage cutoff of Brand
0,1,2021-01-01,3,4,75.000000
1,2,2021-02-01,2,3,66.666667
2,2,2021-03-01,4,8,50.000000